@font-face {
    font-family: "title";
    src: url("/fonts/Assiduous.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "body";
    src: url("/fonts/Michroma-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 2.5rem;
    --font-size-xxxxl: 3.5rem;
    --font-size-xxxxxl: 5rem;

    --color-blue: #007ac1;
    --color-dark-blue: #002D62;
    --color-orange: #ef3b24;
    --color-yellow: #fdbb30;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-muted: #6b7280;
    --color-border: #e5e7eb;

    --space-0-25: 0.25rem;
    --space-0-50: 0.5rem;
    --space-0-75: 0.75rem;
    --space-1: 1rem;
    --space-1-5: 1.5rem;
    --space-2: 2rem;
    --space-3: 3rem;
    --space-5: 5rem;
    --space-7: 7rem;
    --space-10: 10rem;

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-standard: 10rem;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

}

.hidden {
    opacity: 0;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    pointer-events: none;
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: var(--space-7);
    overflow-y: auto;

}

body {
    background-color: var(--color-dark-blue);
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}




@media screen and (min-width: 300px) and (max-width: 499px) {
    .container {
        margin: 0 var(--space-1) 0 var(--space-1);
    }

    nav {
        font-size: var(--font-size-sm);
        padding: var(--space-1);
        background-color: var(--color-orange);
        font-family: 'body';
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-dark-blue);
        text-transform: uppercase;
    }

    .nav_list {
        display: flex;
        gap: var(--space-1);
        align-items: center;
        gap: var(--space-1);
    }



    .dropbtn {
        background-color: var(--color-blue);
        color: var(--color-yellow);
        padding: var(--space-0-50);
        text-transform: uppercase;
        font-family: 'body';
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 10%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: var(--color-dark-blue);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 0.5rem;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropbtn-toggle {
        background-color: var(--color-yellow);
        color: var(--color-blue);
    }


    .dropdown-content-toggle {
        display: block;
    }



    header {
        max-height: 50dvh;
        background: linear-gradient(90deg, var(--color-dark-blue) 50%, var(--color-blue) 50%);
    }


    .header_title {
        font-size: var(--font-size-xxxl);
        font-family: 'title';
        color: var(--color-yellow);
        text-transform: uppercase;
        max-width: 50%;
        padding-bottom: var(--space-1);
    }

    .header_span {
        color: var(--color-orange);
        font-size: var(--font-size-xxxxl);
    }

    .header_content {
        padding-top: var(--space-1);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: var(--space-1);


        background-image: url("assets/mouse.png");
        background-repeat: no-repeat;
        background-position: 100% 15%;
        background-attachment: fixed;


    }

}



@media screen and (min-width: 500px) and (max-width:699px) {
    .container::before {
        content: "min-width: 500px";
    }

    .container::after {
        content: "max-width: 699px";
    }
}



@media screen and (min-width: 700px) and (max-width:899px) {
    .container::before {
        content: "min-width: 700px";
    }

    .container::after {
        content: "max-width: 899px";
    }
}


@media screen and (min-width: 900px) {
    .container::before {
        content: "min-width: 900px";
    }
}