---
import { getCollection } from "astro:content";
import Nav from "../components/nav.astro";
import BaseLayout from "../layouts/baseLayout.astro";
import Skill from "../components/skillcard.astro";
const skills = await getCollection("skills");
---

<BaseLayout>
    <header>
        <Nav />
    </header>
    <main>
        <section class="about container">
            <h2 class="about_title">
                about <span class="title_span">me</span>
            </h2>

            <ul class="about_list">
                <li class="about_item">
                    <p>
                        <span class="about_span">Name:</span> Keanu Plysier
                    </p>
                </li>
                <li class="about_item">
                    <p><span class="about_span">Located:</span> Kortrijk</p>
                </li>
                <li class="about_item">
                    <p>
                        <span class="about_span">Studies:</span> Devine @ Howest
                        Kortrijk
                    </p>
                </li>
                <li class="about_item">
                    <p>
                        <span class="about_span">Hobbies:</span> Basketball
                    </p>
                </li>
            </ul>
        </section>

        <section class="skills container">
            <h2 class="skills_title">
                <span class="title_span">my</span> skills
            </h2>

            <ul class="skills_list">
                {skills.map((skill: any) => <Skill skill={skill} />)}
            </ul>
        </section>
    </main>
</BaseLayout>
