---
import "../styles/reset.css";
import "../styles/global.css";
import { getCollection } from "astro:content";
import Nav from "../components/nav.astro";
import Base from "../layouts/baseLayout.astro";
import Skills from "../components/skills.astro";
import Me from "../components/me.astro";
const skills = await getCollection("skills");
---

<Base>
    <Nav />
    <main>
        <Me />
        <Skills />
    </main>
</Base>
