---
import Nav from "./nav.astro";
---

<header>
    <Nav />
    <section class="header_content container">
        <h2 class="header_title">
            I am <span class="title_span">Keanu</span>, <br />and I <span
                class="title_span">design</span
            ><br />and <span class="title_span">develop</span>
            <br />stuff...
        </h2>
    </section>
</header>
