<main>
    <section class="working_on container">
        <h2 class="working_on_title">Currently Working on</h2>

        <article class="project">
            <h3 class="project_title">Thrive campaign</h3>
            <div class="project_content">
                <p class="project_description">
                    The assignment is to design a campaign website for Thrive, a
                    beer brand promoted as healthy, highlighting its benefits
                    and engaging users with a modern, appealing design.
                </p>

                <p class="project_vertical">design</p>
            </div>
        </article>

        <article class="project">
            <h3 class="project_title">EXPERIENCE SITE</h3>
            <div class="project_content">
                <p class="project_description">
                    I am currently working on an other website that brings the
                    excitement and experience of basketball to life. I focus on
                    different moments in history of the nba, and try to make it
                    as interactive as possible.
                </p>

                <p class="project_vertical">develop</p>
            </div>
        </article>

        <article class="project">
            <h3 class="project_title">PORTFOLIO SITE</h3>
            <div class="project_content">
                <p class="project_description">
                    The website you are currently viewing, is my portolio
                    website. That means that I will always be updating and
                    improving it as I learn new skills and techniques in web
                    development.
                </p>

                <p class="project_vertical">develop</p>
            </div>
        </article>
    </section>
    <section class="contact container">
        <div class="contact_content">
            <h2 class="contact_title">
                <span class="title_span">Contact</span> me
            </h2>
            <p class="contact_text">Feel free to contact me anytime!</p>
            <ul class="contact_list">
                <li class="contact_item">
                    <span class="contact_type">&#x260E; phone :</span>
                    <br />0493 88 56 22
                </li>
                <li class="contact_item">
                    <span class="contact_type">&#x2709; mail :</span>
                    <br />keanu.plysier@gmail.com
                </li>
            </ul>
        </div>
    </section>
</main>
