<nav>
    <a href="/"><h1>Keanu</h1></a>

    <ul class="nav_list">
        <li><a href="/about">about</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">More &#9662;</button>
                <div class="dropdown-content">
                    <a href="/work">My work</a>
                    <a href="#">Blog</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
