---
const { skill } = Astro.props;
console.log(skill);
---

<li class="skills_item">
    <a class="skills_link" href=`${import.meta.env.BASE_URL}skills/${skill.id}`>
        {skill.data.title}
    </a>
</li>
