---
const { project } = Astro.props;
console.log(project);
---

<li class="skills_item">
    <a
        class="skills_link"
        href={`${import.meta.env.BASE_URL}skills/${project.id}`}
    >
        {project.data.title}
    </a>
</li>
