---
import "../styles/reset.css";
import "../styles/global.css";
import Nav from "../components/nav.astro";
import BaseLayout from "./baseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <header>
        <Nav />
    </header>
    <section class="skill container">
        <h2 class="skill_title">{frontmatter.title}</h2>
        <p class="skill_description">{frontmatter.description}</p>

        <div class="skill_content">
            <slot />
        </div>
    </section>
</BaseLayout>
