---
import "../styles/reset.css";
import "../styles/global.css";
import Nav from "../components/nav.astro";
import BaseLayout from "./baseLayout.astro";
const { skill } = Astro.props;
---

<BaseLayout pageTitle={skill.data.title}>
    <header>
        <Nav />
    </header>
    <section class="skill container">
        <h2 class="skill_title">{skill.data.title}</h2>
        <p class="skill_description">{skill.data.description}</p>

        <div class="skill_content">
            <slot />
        </div>
    </section>
</BaseLayout>
